@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-8 offset-2 mb-4">
        <img class="img-fluid img-thumbnail" src="https://picsum.photos/1090/300?random" />
    </div>
    <div class="col-8 offset-2 mb-4">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
    </div>
    <div class="col-4 offset-4 mb-4">
        <form method="post">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="John Doe" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                <input type="text" class="form-control" placeholder="555 888 77 66" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="johndoe@mail.com" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-edit"></i></span>
                <textarea rows="5" class="form-control" placeholder="It is a long established fact that a reader..."></textarea>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane me-2"></i>Gönder</button>
            </div>
        </form>
    </div>
    <div class="col-8 offset-2 mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.3228076535806!2d28.78910331478304!3d40.99630722811146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa3ecce9a2c99%3A0xb6aa7a5e71e19182!2zR8O8bHRlcGUsIEfDvG5lxZ8gU2suIE5vOjMyLCAzNDI5NSBLw7zDp8O8a8OnZWttZWNlL8Swc3RhbmJ1bA!5e0!3m2!1sen!2str!4v1641229986044!5m2!1sen!2str" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>